/* You can add global styles to this file, and also import other style files */

html,
body {
  padding: 0;
  margin: 0;
  background: #121212;
  color: #ffffff;
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
}
