.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  header{
    height: 80px;
    border-bottom: 1px solid #767676;
    width: 100%;
    h2{
      font-weight: normal;
    }
    span{
      position: absolute;
      right:40px;
      top: calc(48px/2);
      display: flex;
      width: 48px;
      height: 48px;
      border: 1px solid #A168DF;
      border-radius: 24px;
      color: #A168DF;
      line-height: 48px;
      justify-content: center;
    }
  } 
  article{
    display: flex;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    background: url("../assets/image-211.png") top left no-repeat,
    url("../assets/image-210.png") bottom right no-repeat;
    

    // url("../assets/image-1.png") bottom right no-repeat,
    &::before{
      content: '';
      background : url("../assets/image-62.png") no-repeat bottom left;
      width: 400px;
      height: 600px;
      position: fixed;
      bottom: 0;
      left: 0;
    }

    &::after{
      content: '';
      background : url("../assets/image-1.png") no-repeat bottom right;
      width: 400px;
      height: 600px;
      position: fixed;
      bottom: 0;
      right: 0;
    }

    .content{
      width: 50%;
      h1{
        font-size: 50px;
        margin: 0;
      }
      p{
        font-size: 24px;
        width: 75%;
        padding-left: 10%
      }
      button{
        background: #772BCB;
        padding: 12px 32px;
        border:0;
        color: #fff;
        border-radius: 6px;
      }
    }
  }
  
}