<section class="container">
  <header>
    <h2>Dynasty Academy</h2>
    <span class="close">X</span>
  </header>
  <article>
    <section class="content">
      <h1>Welcome to Dynasty Academy</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam
        ultrices viverra. Sed faucibus interdum pellentesque. Aliquam lorem
        arcu, viverra eget orci ac, scelerisque iaculis est.
      </p>
      <button>Proceed</button>
    </section>
  </article>
</section>
